# Binaries
bin/
Binaries/
bin-int/
Intermediates/

# Eos files
Editor/Resources/Scripts/
Editor/assets/cache/
scripts/__pycache__/
*.log

# Visual Studio files and folder
.vs/
*.sln
*.vcxproj*
*.csproj*
