# Binaries
**/bin/
bin-int/
Intermediates/

# Eos files
**.log
EosEditor/EosEditor.ini

# Visual Studio files and folder
.vs/
**.sln
**.vcxproj*
**.csproj*

# Directories
EosEditor/assets/cache
scripts/__pycache__
