# Binaries
**/bin/
bin-int/
Intermediates/

*.exe
*.lib
*.dll
*.pdb

# Eos files
*.log
EosEditor/config/eos.ini

# Visual Studio files and folder
.vs/
*.sln
*.vcxproj*
*.csproj*

# Other directories
EosEditor/assets/cache/
scripts/__pycache__/
